// Variables

// Font
$font-family: "Poppins", sans-serif;

// Font colors
$dark-black: #242424;
$color-border: #0632554c;
$color-white: #ffffff;
$color-gray: #757575;
$color-black: #2b2b2b;
$border-color: #ccc;
$bg-color: #f5f5f5;
$font-color: #b5b5b5;
$card-highlight-bg: #fff7f6;
$color-table-body: #6d6c6c;
$loader-border: #e2e2e2;
$footer-bg: #0b1722;
$copywrite-bg: #050c13;
$text-color:#000;
$app-block-bg:#0F172A;
$contact-block-border-color:#0F172A;
$lang-and-signin-color: #173E5F
